

body{
    margin: 0%;
    padding: 0%;
    background-color: #35134F ;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      
}
.contenedor{
    width: 60%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid: 20px;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows:repeat(3, auto);
}
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer,
.contenedor .img,
.contenedor .java,
.contenedor .enlace




{
    background-color:  white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background-color: #134F45 ;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    text-align: left;
}

.contenedor .contenido  {
    grid-column: span 4;
    text-align: center;
    background-color: #131D4F ;

}
.contenedor .sidebar {
    
    background-color: green;
    color: antiquewhite;
    text-align: center;
   

}

.contenedor .footer{
    background-color: orange;
    grid-column: span 3;
    grid-row: auto;
    text-align: center;
   
}

@media screen and (max-width: 768px) {
 .contenedor .contenido {
 grid-column: 1/-1;
}
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;  
    text-align: right;
}

img:hover{
    box-shadow: 0 0 12px 15px rgba(173,52, 52, 0.5);
}

.contenedor .java{
    align-items: center;
    color: goldenrod;
    background-color: black;
    font-style: initial;

}

